<!-- Remove the container if you want to extend the Footer to full width. -->

    <!-- Footer -->
</footer>
    <style>
        .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        }

        .dropup {
        position: relative;
        display: inline-block;
        }

        .dropup-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        bottom: 50px;
        z-index: 1;
        }

        .dropup-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

        .dropup-content a:hover {background-color: #ccc}

        .dropup:hover .dropup-content {
        display: block;
        }

        .dropup:hover .dropbtn {
        background-color: #2980B9;
        }

    </style>
    <footer>Yahtzee</footer>
    <div class="w3-bar" style="background-color: rgb(240, 212, 255)">
        <div style="text-align: center; color: rgb(37,1,56) ">
        <a href="https://data.cityofnewyork.us/Health/NYC-Dog-Licensing-Dataset/nu7n-tubp/about_data" class="w3-bar-item w3-button" style=" font-family: 'Mate', serif; color: rgb(37,1,56)">NYC Dog Licensing Data Source (NYC Open Data) </a>
        <a href="https://simplemaps.com/city/new-york/zips" class="w3-bar-item w3-button" style=" font-family: 'Mate', serif; color: rgb(37,1,56)">NYC SVG Map by Zipcode Source (Simple Maps)</a>
        <a href="https://medium.com/@naterattner/new-york-citys-most-dog-dense-zip-codes-3697e2993908" class="w3-bar-item w3-button" style="font-family: 'Mate', serif; color: rgb(37,1,56)">NYC Dogs Per Capita Data (Medium) </a>
        </div>
        <br>
        <br>
        <p style="font-family: 'Mate', serif; text-align: center; color: rgb(37,1,56)"> This investigation explores dog populations throughout different zipcodes. Within specific NYC zipcodes, I investigate the most popular breeds within each one. I also compare the number of different breeds in each individual zipcode with the average number of breeds across all zipcodes. </p>    
    </div>
</footer>
<!-- Footer -->