<!DOCTYPE html>
<html>
<head>
    {% include 'css.html' %}
    {% include 'integrate_bootstrap.html' %}
    <title>Yahtzee: Login</title>

</head>
<body>
    {% include 'partials/navbar.html' %}
    <form action="/login" method="GET">
        <label for="fname">Username:</label><br>
        <input type="text" id="username_input" name="username"><br>
        <label for="lname">Password:</label><br>
        <input type="text" id="password_input" name="password"><br><br>
        <input type="submit" id="login_submit" value="Submit">
      </form> 

</body>
{% include 'partials/footer.html' %}
</html>