<!DOCTYPE html>
<html>
<head>
    {% include 'css.html' %}
    {% include 'integrate_bootstrap.html' %}
    <title>Yahtzee: User Details</title>

</head>
<body>
    {% include 'partials/navbar.html' %}
  <section id="feedback">{{feedback}}</section>

  <section id="user_form">
      {% if aim == "new user" %}
          <form action="/users" method="POST">
             <label for="username_input">Username:</label><br>
             <input type="text" id="username_input" name="username"><br>
             <label for="password_input">Password:</label><br>
             <input type="text" id="password_input" name="password"><br><br>
             <label for="email_input">Email:</label><br>
             <input type="text" id="email_input" name="email"><br>

              <input type="submit" id="user_details_submit" value="Create">
          </form>  
              
      {% elif aim == "existing user" %}
          <form action="/users/{{username}}" method="POST">
              <label for="username_input">Username:</label><br>
              <input type="text" id="username_input" name="username"><br>
              <label for="password_input">Password:</label><br>
              <input type="text" id="password_input" name="password"><br><br>
              <label for="email_input">Email:</label><br>
              <input type="text" id="email_input" name="email"><br>
              <input type="submit" id="user_details_submit" value="Update">
          </form>
          <form action="/users/delete/{{username}}" method="GET">
              <input type="submit" id="user_details_delete_submit" value="Delete">
          </form>
      <!-- <button type="submit" id="login_submit">Delete</button> -->
      {% endif %}

      
  </section>
  <script>
      document.getElementById("username_input").value = "{{existing_username}}"
      document.getElementById("password_input").value = "{{existing_user_password}}"
      document.getElementById("email_input").value = "{{existing_user_email}}"
  </script>
  
</body>
{% include 'partials/footer.html' %}
</html>