<!DOCTYPE html>
<html>
<head>
    {% include 'css.html' %}
    {% include 'integrate_bootstrap.html' %}
    <title>Yahtzee: User Games</title>

</head>
<body>
    {% include 'partials/navbar.html' %}
    <h1>{{ user_dict.username }}'s Games</h1>
    <section id="feedback">{{feedback}}</section>

    <ol id="games_list">
        {% for game in games %}
          <li>
            <a href="/games/{{game.name}}/{{user_dict.username}}">{{ game.name }}</a>
            <a href="/games/delete/{{game.name}}/{{user_dict.username}}" class="btn btn-danger" role="button">Delete</a>
          </li>
        {% endfor %}
      </ol>
  
    <form action="/games" method="POST">
    <input type="hidden" id="id_input" name="id" value="{{user_dict['id']}}"/> 
    <input type="hidden" id="username_input" name="username" value="{{user_dict['username']}}">

    <input type="text" name="game_name_input" id="game_name_input"/> 
    
    <input type="submit" name="action" id="create_submit" value="Create" value="Create"/>
    <input type="submit" name="action" id="join_submit" formaction="/games/join" value="Join"/>
    </form>

    <h3>Your High Scores</h3>
    <ol id="high_scores_list">
    {% for score in high_scores %}
    <li>{{ score[0] }} : {{ score[1] }}</li>
    {% endfor %}
    </ol>

</body>
{% include 'partials/footer.html' %}
</html>