<!DOCTYPE html>
<html>
<head>
    {% include 'css.html' %}
    {% include 'integrate_bootstrap.html' %}
    <title>Yahtzee: User Games</title>

</head>
<body>
    {% include 'partials/navbar.html' %}
    <h1>{{username}} Games</h1>
    <section id="feedback">{{feedback}}</section>

    <ol id="games_list">
        {% for game_name in game_names %}
          <li>
            <a href="/games/{{game_name}}/{{user_dict.username}}">{{ game_name }}</a>
            <a href="/games/delete/{{game_name}}/{{user_dict.username}}" class="btn btn-danger" role="button">Delete</a>
          </li>
        {% endfor %}
      </ol>
    
    <section id="user_games">
      <form action="/games" method="POST">
      <input type="hidden" id="id_input" name="id" value="{{user_dict['id']}}"/> 
      <input type="hidden" id="username_input" name="username" value="{{username}}">

      <input type="text" name="create_game" id="game_name_input"/> 
      
      <input type="submit" name="action" id="create_submit" value="Create"/>
      </form>
      <form action="/games/join" method="POST">
        <input type="hidden" id="id_input" name="id" value="{{user_dict['id']}}"/> 
        <input type="hidden" id="username_input" name="username" value="{{username}}">
    
        <input type="text" name="join_game" id="game_name_input"/> 
        
        <input type="submit" name="action" id="join_submit" value="Join"/>
      </form>
    </section>

    <h3>Your High Scores</h3>
    <ol id="high_scores_list">
    {% for game_name in game_scores %}
    <li><text>{{ game_name }} : {{ game_scores[game_name] }}</text></li>
    {% endfor %}
    </ol>

</body>
{% include 'partials/footer.html' %}
</html>