<!DOCTYPE html>
<html>
<head>
    {% include 'css.html' %}
    {% include 'integrate_bootstrap.html' %}
    <title>Yahtzee: User Games</title>

</head>
<body>
    {% include 'partials/navbar.html' %}
    

    <h1>{{username}} Games</h1>
      <section id="feedback">{{feedback}}</section>
      
      <p>DEBUG user_games: {{ user_games }}</p>
      <ol id="games_list">
        {% for game_name in user_games %}
            <li><a href="/games/{{game_name}}/{{username}}">{{game_name}}</a> <a href="/games/delete/{{game_name}}/{{username}}">Delete</a></li>
        {% endfor %}
      </ol>

      <section id="create_join_game">
          <form action="/games/join" method="POST">
              <label for="game_name">Game Name:</label><br>
              <input type="text" id="join_game_input" name="join_game"><br>
              <input type="submit" id="join_submit" value="Join">
              <input type="hidden" id="username" name="username" value="{{username}}">
          </form>
          <form action="/games" method="POST">
              <label for="game_name">Game Name:</label><br>
              <input type="text" id="game_name_input" name="create_game"><br>
              <input type="submit" id="create_submit" value="Create">
              <input type="hidden" id="username" name="username" value="{{username}}">
          </form>
      </section>

      <section id="high-scores">
          <ol id="high_scores_list">
              {% for game_name in game_scores %}
                  <li><text>{{game_name}} : {{game_scores[game_name]}}</text> </li>
              {% endfor %}
          </ol>
      </section>  
    
    <script>
        const join_button = document.getElementById("join_submit")
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        join_button.addEventListener("click", async function() {
            try {
                const response = await fetch("/games/join", {
                    headers: myHeaders,
                    method: "POST",
                    body: JSON.stringify({
                        username: username,
                        game_name: game_name})
                    // ...
                }); 
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                const json = await response.json();
                console.log(json);
            } catch (error) {
                console.error(error.message);
            }
        });
        
    </script>

</body>
{% include 'partials/footer.html' %}
</html>